*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(09.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 20px;
    display:flex;
    backdrop-filter: blur (25px);
    box-shadow: 15px 17px 17px rgba(10,10,10,0.15);
}

.container nav{
    position:absolute;
    display: flex;
    margin: 15px auto;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 70%;
}

.container .logo{
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 30px;
    color: #000;
    

}

.container .logo::first-letter{
     font-size: 35px;
     color: #6f34fe;
}

.container nav ul li{
    display: inline-block;
    padding: 0 20px;
}

.container nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.container nav ul li a:hover{
    color:#6f34fe;
}

.btn-in{
    background: rgb(92, 129, 18);
    width: 90px;
    height: 30px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.btn-in:hover{
    background-color: #ffff;
    color: #6f34fe;
    filter: drop-shadow(0px 0px 13px black);
    border: 1.3px solid black;
}
.btn-up:hover{
    background-color: #ffff;
    color: #6f34fe;
    filter: drop-shadow(0px 0px 13px black);
    border: 1.3px solid black;
}


.btn-up{
    background: rgb(92, 129, 18);
    width: 90px;
    height: 30px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-right: 60px;
    cursor: pointer;
}

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 4%;
    padding-left: 80px;
}

.img{
    opacity: 0;
    animation: img 1s ease forwards;
    animation-delay: .5s;
}
.content .section-1{
    position: relative;
    width: 40%;
}

.content .section-1 h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

.content .section-1 p{
    font-size: 15px;
    color: #6f34fe;
    margin-bottom: 50px;
}
.content .btn{
    padding:  15px 20px;
    border-radius: 5px;
    background: #6f34fe;
    border: 3px solid #6f34fe;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.content .btn:hover{
    background-color: #ffff;
    color: #6f34fe;
    filter: drop-shadow(0px 0px 13px black);
    border: 1.3px solid black;
}

.content .section-2{
    width: 60%;
    position: relative;
}

.content .section-2::after{
    content: '';
    position: absolute;
    background-color: #6f34fe;
    border-radius: 50%;
    width: 300px;
    z-index: -1;
    top: 20%;
    left: 24%;
}

@keyframes img{
    0%{
        opacity: 0;
        transform: translateX(-100);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}